// main: ../style.less

.modal {
	display: none;
	width: 100%;
	height: 100%;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(6, 15, 49, 0.9);
	overflow: auto;
	
	&.show {
		display: flex;
	}

	@media @mobile {
		padding: 0;
	}
}

.modal__dialog {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: #FFF;
	position: relative;
	transform: scale(0);
	transition: transform 0.2s linear;
	
	&--sm {
		max-width: 900px;
	}
}

.modal__close {
	position: absolute;
	top: 0.9rem;
	right: 0.9rem;
	width: 34px;
	height: 34px;
	padding: 0;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: transform 0.2s linear;
	z-index: 1;
	
	&:hover {
		transform: rotate(180deg);
	}
}

.modal__content {
	padding: 5rem 1rem;
	
	@media @mobile {
		padding: 2rem 0.5rem;
	}
}

.modal__title {
	font-size: 3rem;
	color: @black;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 3.6rem;
	
	@media @mobile {
		margin-bottom: 1.6rem;
		font-size: 2rem;
	}
}

.modal__subtitle {
	text-transform: uppercase;
	font-size: 1.06rem;
	color: @black;
	font-weight: normal;
}