// main: ../style.less

.progress-bar {
	margin-bottom: 2.6rem;
	
	@media @mobile-sm {
		margin-bottom: 1.5rem;
	}
}

.progress-bar__item {
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
	
	@media @mobile-sm {
		flex-direction: column;
		margin-bottom: 0.3rem;
	}
}

.progress-bar__left {
	width: 94px;
}

.progress-bar__title {
	font-size: 0.94rem;
	font-weight: lighter;
	
	@media @mobile-sm {
		font-size: 0.7rem;
		margin-bottom: 0.3rem;
	}
}

.progress-bar__right {
	padding-left: 1.2rem;
	
	@media @mobile-sm {
		padding-left: 0;
	}
}

.progress-bar__bar {
	width: 139px;
	height: 6px;
	background: #efefef;
}

.progress-bar__progress {
	height: 100%;
	background: @gray;
	transition: width 0.2s linear;
}